.container-xl {
  padding-top: 5%;
  padding-bottom: 5%;
}
.contact_heading {
  font-weight: 500;
  font-size: 1.5625rem;
  margin-bottom: 23px;
}
.links {
  i {
    padding: 0.625rem;
    padding-left: 0.0625rem;
  }
  padding-bottom: 0.875rem;
}
.part1 {
  padding-bottom: 0.9375rem;
  a {
    text-decoration: none;
    color: #000;
  }
  p {
    padding: 1.7rem;
    padding-left: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
  }
}
.part2 {
  h1 {
    padding-bottom: 2rem;
  }
}
input {
  padding: 0.625rem;
  margin-bottom: 1.5625rem;
  width: 18.75rem;
}
textarea {
  padding: 0.625rem;
  margin-bottom: 1.5625rem;
  width: 18.75rem;
}
@media (max-width: 35.9375rem) {
  .part1 {
    p {
      padding: 0.875rem;
      padding-left: 0px;
    }
  }
  input {
    width: 15.625rem;
  }
  textarea {
    width: 15.625rem;
  }
}
@media (max-width: 535px) {
  .contact_heading {
    padding-left: 8px;
    padding-right: 12px;
  }
  .part1 {
    p {
      padding-left: 8px;
    }
  }
  .links,
  .explore_more,
  .inputs {
    padding-left: 8px;
  }
}
