html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
}
html.loading {
  height: 100%;
  background-image: url("http://i.imgur.com/HEAhF9v.gif"); /* Animated loading spinner image */
  background-position: center center;
  background-repeat: no-repeat;
}
html.loading body {
  visibility: hidden;
  height: 100%;
  overflow: hidden;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
#services,
#works {
  padding-top: 1.25rem;
}
@media (min-width: 62rem) {
  #services,
  #works {
    padding-top: 1.75rem;
  }
}

a.nav-link.navbar_custom_link.active {
  color: black;
}
.navbar_custom_link::before {
  opacity: 1;
}
