html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
// @media (max-width: 767px) {
//   .container {
//     max-width: 720px;
//   }
// }
// @media (max-width: 991px) {
//   .container {
//     max-width: 935px;
//   }
// }
