html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Montserrat", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
#services,
#works {
  padding-top: 1.25rem;
}
@media (min-width: 62rem) {
  #services,
  #works {
    padding-top: 1.75rem;
  }
}

a.nav-link.navbar_custom_link.active {
  color: black;
}
.navbar_custom_link::before {
  opacity: 1;
}
.attribution {
  text-align: center;
}
.attribution a {
  text-decoration: none;
  font-size: 10px;
  color: black;
}
