.navbar {
  &_custom {
    background-color: white;
  }
  @media (min-width: 62rem) {
    &_custom_link::before {
      content: "";
      height: 0.3125rem;
      background: linear-gradient(to right, #ff0099, #493240);
      display: block;
      position: relative;
      top: 1.9375rem;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }
    &_custom_link:hover {
      &::before {
        opacity: 1;
      }
    }
  }
}

.navbar-brand,
.navbar-brand:hover,
.nav-link {
  color: #ba5ce2;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.nav-link:focus {
  color: #7d3c98;
}
.nav-link:hover {
  color: black;
}
.nav-link {
  color: #7d3c98;
  font-weight: 600;
}
.navbar-toggler,
.navbar-toggler:focus {
  box-shadow: none;
  border: none;
}
.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0.9375rem;
}
.companyName {
  font-weight: 700;
  border: none;
}
