.hero {
  //   background-color: hsl(0, 0%, 98%);

  &_custom_btn {
    margin-top: 2.0625rem;
    font-weight: 600;
  }

  &__image {
    max-width: 74%;
    max-height: 100%;
  }

  &__company_name {
    font-weight: 600;
  }
  &_summary {
    font-weight: 600;
    text-align: left;
  }
  &_custom_btn,
  &_custom_btn:hover {
    background-color: #7d3c98;
    color: white;
    width: 5.9375rem;
    border-radius: 0px;
  }
  @media (min-width: 20rem) {
    &__image {
      max-width: 82%;
      max-height: 100%;
    }
  }
  @media (min-width: 23.4375rem) {
    &__image {
      max-width: 69%;
      max-height: 100%;
    }
  }
  @media (min-width: 26.5625rem) {
    &__image {
      max-width: 65%;
      max-height: 100%;
    }
  }
  @media (min-width: 48rem) {
    &__image {
      max-width: 39%;
      max-height: 100%;
    }
  }
  @media (min-width: 48.0625rem) {
    &__image {
      max-width: 74%;
      max-height: 100%;
    }
  }
  @media (max-width: 61.9375rem) {
    &_custom_flex {
      display: flex;
      justify-content: center !important;
    }
    &_summary {
      margin-top: 2.1875rem !important;
    }
    &_custom_btn {
      margin-top: 0.625rem;
    }
    &_custom_container {
      padding-top: 3.125rem;
    }
    &_image_box {
      text-align: center;
    }
  }

  @media (min-width: 62rem) {
    &_custom_container {
      padding-top: 5rem;
    }
    &_image_box {
      text-align: end;
    }
  }
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
