.hero {
  //   background-color: hsl(0, 0%, 98%);

  &_custom_btn {
    margin-top: 33px;
  }

  &__image {
    max-width: 74%;
    max-height: 100%;
  }

  &__company_name {
    font-weight: 500;
  }
  &_summary {
    font-weight: 400;
    text-align: left;
  }
  &_custom_btn,
  &_custom_btn:hover {
    background-color: #7d3c98;
    color: white;
    width: 95px;
    border-radius: 0px;
  }
  @media (min-width: 320px) {
    &__image {
      max-width: 82%;
      max-height: 100%;
    }
  }
  @media (min-width: 375px) {
    &__image {
      max-width: 69%;
      max-height: 100%;
    }
  }
  @media (min-width: 425px) {
    &__image {
      max-width: 65%;
      max-height: 100%;
    }
  }
  @media (min-width: 768px) {
    &__image {
      max-width: 39%;
      max-height: 100%;
    }
  }
  @media (min-width: 769px) {
    &__image {
      max-width: 74%;
      max-height: 100%;
    }
  }
  @media (max-width: 991px) {
    &_custom_flex {
      display: flex;
      justify-content: center !important;
    }
    &_summary {
      margin-top: 35px !important;
    }
    &_custom_btn {
      margin-top: 10px;
    }
    // &__image {
    //   max-width: 80%;
    //   max-height: 60%;
    // }
    &_custom_container {
      padding-top: 50px;
    }
    &_image_box {
      text-align: center;
    }
  }

  @media (min-width: 992px) {
    &_custom_container {
      padding-top: 80px;
    }
    &_image_box {
      text-align: end;
    }
  }
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
