.services {
  background-color: hsl(0, 0%, 98%);
  &_custom_card {
    color: #fff !important;
    background-color: #7d3c98;
    border-radius: 0px;
    height: 100%;
  }
  &_provide {
    padding: 0.625rem;
  }
  &_custom_card:hover {
    cursor: pointer;
    box-shadow: 0.3125rem 0.3125rem 0.6875rem grey;
  }
  &_icons {
    color: #ffff;
  }
  &_custom_row_social_icons {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  &_custom_row_cards {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  &_custom_icon {
    padding: 0.625rem;
  }
  &_heading {
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 3.125rem;
  }
  @media (max-width: 61.9375rem) {
    &_heading {
      text-align: center;
      font-size: 1.875rem;
    }
    &_custom_description {
      text-align: center;
    }
    &_custom_icon {
      padding: 0;
    }
    &_provide {
      padding: 0;
    }
  }
  &_custom_description {
    padding-top: 1.25rem;
  }
  &_custom_body {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem 1rem;
  }
  &_social_icons_container {
    text-align: center;
    padding: 1.25rem;
  }
  &_social_icons {
    color: grey;
    font-size: 1.875rem;
  }
  @media (max-width: 47.9375rem) {
    &_social_icons {
      font-size: 1.5625rem;
    }
  }
}
