.works {
  &_custom_images {
    max-width: 85%;
    box-shadow: 0px 0px 15px 1px grey;
  }
  &_heading {
    font-weight: 500;
    font-size: 30px;
  }
  &_link {
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (min-width: 992px) {
    &_custom_images {
      max-width: 65%;
      box-shadow: 0px 0px 24px 3px grey;
    }
  }
  @media (max-width: 575px) {
    &_link {
      padding-top: 0px !important;
    }
    &_heading {
      padding-top: 35px !important;
      padding-bottom: 35px !important;
    }
  }
}
.highlight {
  text-align: center;
}

.align {
  padding-top: 85px !important;
}
@media (max-width: 767px) {
  .align {
    padding-top: 0px !important;
  }
}
.know_more {
  font-weight: 500;
  color: grey;
  text-decoration: none;
}
.know_more:hover {
  color: #000;
}
