html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.navbar-brand,
.navbar-brand:hover,
.nav-link {
  color: #ba5ce2;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.nav-link:focus {
  color: #7d3c98;
}

.nav-link:hover {
  color: black;
}

.nav-link {
  color: #7d3c98;
  font-weight: 600;
}

.navbar-toggler,
.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 15px;
}

.companyName {
  font-weight: 700;
  border: none;
}

.hero_custom_btn {
  margin-top: 33px;
}

@media (max-width: 991px) {
  .hero_custom_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .hero_summary {
    margin-top: 35px !important;
  }
  .hero_custom_btn {
    margin-top: 10px;
  }
}

.hero__image {
  background-image: url("../../app/assets/Team page-amico.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 492px;
  height: 492px;
}

@media (max-width: 767px) {
  .hero__image {
    width: 450px;
    height: 395px;
    background-size: 100% 100%;
  }
}

@media (max-width: 374px) {
  .hero__image {
    width: 450px;
    height: 325px;
    background-size: 100% 100%;
  }
}

.hero__company_name {
  font-weight: 500;
}

.hero_summary {
  font-weight: 400;
  text-align: left;
}

.hero_custom_btn, .hero_custom_btn:hover {
  background-color: #7d3c98;
  color: white;
  width: 95px;
  border-radius: 0px;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.services {
  background-color: #fafafa;
}

.services_custom_card {
  color: #fff !important;
  background-color: #7d3c98;
  border-radius: 0px;
  height: 100%;
}

.services_custom_card:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 11px grey;
          box-shadow: 5px 5px 11px grey;
}

.services_icons {
  color: #ffff;
}

.services_custom_row_social_icons {
  padding-top: 20px;
}

.services_custom_row_cards {
  padding-top: 20px;
  padding-bottom: 20px;
}

.services_custom_heading {
  padding-top: 20px;
}

.services_custom_body {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1rem 1rem;
}

.services_social_icons_container {
  text-align: center;
  padding: 20px;
}

.services_social_icons {
  color: grey;
  font-size: 30px;
}

@media (max-width: 767px) {
  .services_social_icons {
    font-size: 25px;
  }
}

.works_custom_images {
  max-width: 85%;
  -webkit-box-shadow: 0px 0px 24px 3px grey;
          box-shadow: 0px 0px 24px 3px grey;
}

.works_heading {
  font-weight: 500;
  font-size: 30px;
}

.works_custom_images {
  max-width: 65%;
  -webkit-box-shadow: 0px 0px 24px 3px grey;
          box-shadow: 0px 0px 24px 3px grey;
}

.works_link {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 992px) {
  .works_custom_images {
    max-width: 65%;
    -webkit-box-shadow: 0px 0px 24px 3px grey;
            box-shadow: 0px 0px 24px 3px grey;
  }
}

@media (max-width: 575px) {
  .works_link {
    padding-top: 0px !important;
  }
  .works_heading {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }
}

.highlight {
  text-align: center;
}

.align {
  padding-top: 85px !important;
}

@media (max-width: 767px) {
  .align {
    padding-top: 0px !important;
  }
}

.know_more {
  font-weight: 500;
  color: grey;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */