
  body{
    position: relative;
    font-family: "Montserrat",sans-serif;
  }
  .container-xl{
    padding-top: 10%;  

  }
  .links i{
    padding-right: 15px;
    padding-bottom: 30px;
  }
  .part1 a{
     text-decoration: none;
     color: #000;

  }
  .part1 p{
    padding:  1.7rem ;
    padding-left: 0;
    
  }
  .part2 h1{
    padding-bottom: 2rem ;

  }
  input{
    padding-bottom: 1rem ;
    margin-bottom: 25px;
  }
  
  
  