html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

#services,
#works {
  padding-top: 1.25rem;
}

@media (min-width: 62rem) {
  #services,
  #works {
    padding-top: 1.75rem;
  }
}

a.nav-link.navbar_custom_link.active {
  color: black;
}

.navbar_custom_link::before {
  opacity: 1;
}

.attribution {
  text-align: center;
}

.attribution a {
  text-decoration: none;
  font-size: 10px;
  color: black;
}

.logo {
  width: 35px;
}

@media (min-width: 992px) {
  .logo {
    width: 59px;
  }
}

.navbar_custom {
  background-color: white;
}

@media (min-width: 62rem) {
  .navbar_custom_link::before {
    content: "";
    height: 0.3125rem;
    background: -webkit-gradient(linear, left top, right top, from(#ff0099), to(#493240));
    background: linear-gradient(to right, #ff0099, #493240);
    display: block;
    position: relative;
    top: 1.9375rem;
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
  }
  .navbar_custom_link:hover::before {
    opacity: 1;
  }
}

.navbar-brand,
.navbar-brand:hover,
.nav-link {
  color: #ba5ce2;
  font-size: 1rem;
  font-weight: 600;
}

.nav-link:focus {
  color: #7d3c98;
}

.nav-link:hover {
  color: black;
}

.nav-link {
  color: #7d3c98;
  font-weight: 600;
}

.navbar-toggler,
.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0.9375rem;
}

.companyName {
  font-weight: 700;
  border: none;
}

.hero_custom_btn {
  margin-top: 2.0625rem;
  font-weight: 600;
}

.hero__image {
  max-width: 74%;
  max-height: 100%;
}

.hero__company_name {
  font-weight: 600;
}

.hero_summary {
  font-weight: 600;
  text-align: left;
}

.hero_custom_btn, .hero_custom_btn:hover {
  background-color: #7d3c98;
  color: white;
  width: 5.9375rem;
  border-radius: 0px;
}

@media (min-width: 20rem) {
  .hero__image {
    max-width: 82%;
    max-height: 100%;
  }
}

@media (min-width: 23.4375rem) {
  .hero__image {
    max-width: 69%;
    max-height: 100%;
  }
}

@media (min-width: 26.5625rem) {
  .hero__image {
    max-width: 65%;
    max-height: 100%;
  }
}

@media (min-width: 48rem) {
  .hero__image {
    max-width: 39%;
    max-height: 100%;
  }
}

@media (min-width: 48.0625rem) {
  .hero__image {
    max-width: 74%;
    max-height: 100%;
  }
}

@media (max-width: 61.9375rem) {
  .hero_custom_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .hero_summary {
    margin-top: 2.1875rem !important;
  }
  .hero_custom_btn {
    margin-top: 0.625rem;
  }
  .hero_custom_container {
    padding-top: 3.125rem;
  }
  .hero_image_box {
    text-align: center;
  }
}

@media (min-width: 62rem) {
  .hero_custom_container {
    padding-top: 5rem;
  }
  .hero_image_box {
    text-align: end;
  }
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.services {
  background-color: #fafafa;
}

.services_custom_card {
  color: #fff !important;
  background-color: #7d3c98;
  border-radius: 0px;
  height: 100%;
}

.services_provide {
  padding: 0.625rem;
  font-weight: 600;
}

.services_custom_card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0.3125rem 0.3125rem 0.6875rem grey;
          box-shadow: 0.3125rem 0.3125rem 0.6875rem grey;
}

.services_icons {
  color: #ffff;
}

.services_custom_row_social_icons {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.services_custom_row_cards {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.services_custom_icon {
  padding: 0.625rem;
}

.services_heading {
  padding-top: 1.663rem;
  padding-bottom: 1.5625rem;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 3.125rem;
}

.services_custom_description {
  padding-top: 1.25rem;
  font-weight: 600;
}

@media (max-width: 61.9375rem) {
  .services_heading {
    text-align: center;
    font-size: 1.875rem;
  }
  .services_custom_description {
    text-align: center;
  }
  .services_custom_icon {
    padding: 0;
  }
  .services_provide {
    padding: 0;
  }
}

.services_custom_body {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1rem 1rem;
}

.services_social_icons_container {
  text-align: center;
  padding: 1.25rem;
}

.services_social_icons {
  color: grey;
  font-size: 1.875rem;
}

@media (max-width: 47.9375rem) {
  .services_social_icons {
    font-size: 1.5625rem;
  }
}

.works {
  font-weight: 600;
}

.works_custom_images {
  max-width: 85%;
  -webkit-box-shadow: 0px 0px 15px 1px grey;
          box-shadow: 0px 0px 15px 1px grey;
}

.works_heading {
  font-weight: 600;
  font-size: 1.875rem;
}

.works_link {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.works_custom_row_cards {
  margin-bottom: 0.9375rem;
}

@media (max-width: 991px) {
  .works_heading {
    font-size: 25px;
    padding-top: 25px !important;
    padding-bottom: 20px !important;
  }
  .works_link {
    padding-top: 25px !important;
  }
  .works_heading_container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .works_link {
    padding-top: 0px !important;
  }
}

@media (min-width: 62rem) {
  .works_custom_images {
    max-width: 65%;
    -webkit-box-shadow: 0px 0px 24px 3px grey;
            box-shadow: 0px 0px 24px 3px grey;
  }
}

.highlight {
  text-align: center;
}

.align {
  padding-top: 5.3125rem !important;
}

@media (max-width: 47.9375rem) {
  .align {
    padding-top: 0px !important;
  }
}

.know_more {
  color: grey;
  text-decoration: none;
}

.know_more:hover {
  color: #000;
}

.container-xl {
  padding-top: 5%;
  padding-bottom: 5%;
}

.contact_container {
  padding-top: 58px;
  padding-bottom: 43px;
}

.contact_heading {
  font-weight: 600;
  font-size: 1.5625rem;
  margin-bottom: 23px;
}

.custom_btn {
  font-weight: 600;
}

.links {
  padding-bottom: 0.875rem;
}

.links i {
  padding: 0.625rem;
  padding-left: 0.0625rem;
}

.part1 {
  font-weight: 600;
  padding-bottom: 0.9375rem;
}

.part1 a {
  text-decoration: none;
  color: #000;
}

.part1 p {
  padding: 1.7rem;
  padding-left: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 16px;
}

.part2 h1 {
  padding-bottom: 2rem;
}

input,
textarea {
  padding: 0.625rem;
  margin-bottom: 1.5625rem;
  width: 18.75rem;
  font-weight: 600;
}

@media (max-width: 35.9375rem) {
  .part1 p {
    padding: 0.875rem;
    padding-left: 0px;
  }
  input {
    width: 15.625rem;
  }
  textarea {
    width: 15.625rem;
  }
}

@media (max-width: 575px) {
  .contact_heading {
    padding-left: 8px;
    padding-right: 12px;
  }
  .part1 p {
    padding-left: 8px;
  }
  .links,
  .explore_more,
  .inputs {
    padding-left: 8px;
  }
  .contact_container {
    padding-top: 48px;
  }
}

.footer {
  background-color: #ebdef0;
  padding: 2.5rem;
}

.footer_service, .footer_copy {
  text-align: end;
}

.footer_grid {
  font-weight: 600;
}

.footer_item {
  padding: 10px;
}

.footer_item a {
  text-decoration: none;
  color: inherit;
}

.footer_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_icons_container a:not(:last-child) {
  margin-right: 1rem;
}

.footer_icons_container {
  font-size: 20px;
}

@media (max-width: 991px) {
  .footer_grid {
    display: block;
    text-align: center;
  }
  .footer_grid div {
    width: 100%;
  }
  .footer_details {
    display: block;
  }
  .footer_details a {
    display: block;
  }
  .footer_service, .footer_copy {
    text-align: inherit;
  }
  .footer_item {
    padding: 0px;
  }
  .footer_grid div:not(:last-child) {
    padding-bottom: 10px;
  }
  .footer_about, .footer_terms {
    padding-bottom: 10px;
  }
}

.about {
  padding-top: 50px;
  font-weight: 600;
}

.about_heading {
  font-weight: inherit;
  margin-bottom: 18px;
}

@media (max-width: 575px) {
  .about_heading {
    padding-left: 8px;
    padding-right: 12px;
  }
  .about p {
    padding-left: 8px;
  }
}
/*# sourceMappingURL=style.css.map */